.form-inline{
  margin-right: 6em;
  margin-top: 2em;
}

.navbar-brand{
  margin-left: 1em;
  margin-top: 1em;
  font-size: 2em;
}

.navbar{
  padding-bottom: 4.5em;

}

.navbar{
  background-color: lightblue;
}

.form-control{
  padding: 2em
}

.btn{
  font-size:2em;
}
.flight-list{

}


.table{
  margin-top: 5%;
}

.error-message {
  margin-top: 3em;
  padding: 1em;
  font-size: 1.5em;
  text-align: center;
}

hr{
  margin-top: 3em;
}

td, th{
  font-size: 1em;
  color: black;
}
