.form-inline{
  margin-right: 10%;
  margin-top: 1em;
}

.navbar-brand{
  margin-left: 10%;
  margin-top: 0.5em;
  font-size: 2em;
}

.navbar{
  padding-bottom: 2em;

}

.navbar{
  background-color: lightgreen;
}

.form-control{
  padding: 1.5em
}

.btn{
  font-size:1.5em;
}
.flight-list{

}
th, td{
  font-size: 20px;
  color: grey;
}

.table{
  margin-top: 5%
}
