<% include ./layout %>


  <!-- Masthead -->
  <header class="masthead text-white">

    <div class="container">

          <h1>Find the cheapest flights around the world</h1>

          <form class="form-inline" action="/flights" method="GET">

              <div class="control">
                  <label class="label-input" for="origin">From</label>
                  <input class="form-control " type="text" name="origin" placeholder="City or Airport" required/>
              </div>
              <div class="control">
                  <label class="label-input" for="destination">To</label>
                  <input class="form-control " type="text" name="destination" placeholder="City or Airport" required/>
              </div>
              <div class= "control">
                  <label class = "label-date" for="date">Depart</label>
                  <input class="form-control " type="date" name="date" value="<%= moment().format('YYYY-MM-DD') %>" required />
              </div>
              <div class="control">

                <button type="submit" class="btn btn-md"> Search flights</button>
              </div>
          </form>
        </div>
        <% if(error && error.length > 0){ %>


                      <div class="alert alert-danger error-message" role="alert">
                          <%= error %>
                      </div>
          

       <% } %>
  </header>
