body {
    font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background: #ffffff;
}
  
h1,
h2,
h3,
h5,
h6 {
    font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 500;
    color: #ffffff;
  
}

#sign-in-google{
    color: #ff6666;
}
  
a{
    color: #0099cc;
}
  
  