header.masthead {
    position: relative;
    background: url('../../img/simon.jpg') center;
    background-size: cover;
    margin-top: 1.5rem;
    padding-top: 4rem;
    padding-bottom: 10rem;


}

header.masthead h1 {
    font-size: 2rem;
    margin-left: 1em;
    margin-top: 0em;

}

footer.footer {
    padding-top: 2rem;

}

.table{
    margin-top:2em;
}



.navbar-brand {
    color: black;
}

#current-user {
    color: black;
    margin-left: 2rem


}
.navbar{
  display: flex
}

#sign-in-google{
    color: #ff6666;
    text-align: right;
}

#log-out {
    margin-right: 0.4em;
}


@media (min-width: 45em) {
    header.masthead {


    }

    #log-out {
        margin-right: 2em;
    }

    #current-user {

        margin-left: 64rem

    }

    .navbar{
      display: flex;
    }

}
